Repository cal-itp/data-infra, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atvaccaro, @lottspot, @SorenSpicknall, @charlie-costanzo, @lauriemerrell

.github/CODEOWNERS:

# Names are in alphabetical order, no priority or seniority is implied

# repo owners
*                                       @atvaccaro

# infra components
/.github/workflows                      @atvaccaro @lottspot @SorenSpicknall
/ci                                     @atvaccaro @lottspot @SorenSpicknall
/iac                                    @atvaccaro @lottspot
/kubernetes                             @atvaccaro @lottspot

# jupyter service, e.g. updating the image
/kubernetes/apps/charts/jupyterhub      @atvaccaro @charlie-costanzo @SorenSpicknall
/images                                 @atvaccaro @charlie-costanzo @SorenSpicknall

# project documentation
/docs                                   @charlie-costanzo @lauriemerrell

# actual pipeline code
/airflow                                @atvaccaro @lauriemerrell @SorenSpicknall
/jobs                                   @atvaccaro @lauriemerrell @SorenSpicknall
/runbooks                               @atvaccaro @lauriemerrell @SorenSpicknall
/services                               @atvaccaro @lauriemerrell @SorenSpicknall
/warehouse                              @atvaccaro @lauriemerrell @SorenSpicknall

install new gke auth plugin in local airflow, and bump calitp-data-infra version
  airflow/Dockerfile
  airflow/requirements.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

change imports to calitp_data_infra, paste stuff into utils as needed for legacy support
  airflow/dags/airtable_loader_v2/generate_gtfs_download_configs.py
  airflow/dags/download_gtfs_schedule_v2/download_schedule_feeds.py
  airflow/dags/unzip_and_validate_gtfs_schedule/unzip_gtfs_schedule.py
  airflow/plugins/libs/littlepay.py
  airflow/plugins/operators/airtable_to_gcs.py
  airflow/plugins/operators/amplitude_to_flattened_json.py
  airflow/plugins/operators/external_table.py
  airflow/plugins/operators/gtfs_csv_to_jsonl.py
  airflow/plugins/utils.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

remove some hopefully unnecessary reqs
  airflow/requirements.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

update to non-preview calitp-data-infra
  airflow/requirements.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

bring in new calitp-data-infra, remove redundant deps
  airflow/requirements.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

test composer 1.20.5 airflow 2.3.4, had to comment out lineage libs
  airflow/Dockerfile.composer
  airflow/requirements-composer-1.20.5.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

remove protobuf pin
  airflow/requirements.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

create dockerfile and reqs to test potential upgrade
  airflow/Dockerfile.composer
  airflow/requirements-composer-1.17.7.txt
  airflow/requirements-composer-1.20.5.txt
  airflow/requirements.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

bump calitp-data-infra
  airflow/requirements.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

also try airflow 2.4.3
  airflow/Dockerfile.composer
  airflow/requirements-composer-1.20.5-airflow-2.3.4.txt
  airflow/requirements-composer-1.20.5-airflow-2.4.3.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

Remove agencies.yml and service build from CI; just run Airflow deploy workflow on main (#2262)
  .github/workflows/deploy_airflow_dags.yml
  .github/workflows/push_to_gcloud.yml
  .github/workflows/service-build.yml
Owners: @atvaccaro, @lottspot, @SorenSpicknall

update gcloud version in jupyter singleuser image (#2279)
  images/jupyter-singleuser/Dockerfile
  images/jupyter-singleuser/pyproject.toml
Owners: @atvaccaro, @charlie-costanzo, @SorenSpicknall

point hub at new jupyter singleuser image
  kubernetes/apps/charts/jupyterhub/values.yaml
Owners: @atvaccaro, @charlie-costanzo, @SorenSpicknall

rename imports post calitp => calitp-data rename
  airflow/dags/dags.py
  airflow/dags/download_gtfs_schedule_v2/download_schedule_feeds.py
  airflow/dags/macros.py
  airflow/dags/payments_loader/calitp_included_payments_tables.py
  airflow/plugins/libs/littlepay.py
  airflow/plugins/operators/amplitude_to_flattened_json.py
  airflow/plugins/operators/external_table.py
  airflow/plugins/operators/pod_operator.py
  airflow/plugins/utils.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

do not require partition filters for airtable
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_county_geography.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_eligibility_programs.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_fare_systems.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_funding_programs.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_gtfs_datasets.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_gtfs_service_data.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_ntd_agency_info.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_organizations.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_place_geography.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_rider_requirements.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_services.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_components.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_contracts.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_data_schemas.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_organizations.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_products.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_properties_features.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_relationships_service_components.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_service_components.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_services.yml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

just require partition filters everywhere
  airflow/dags/create_external_tables/gtfs_rt_v2/rt_v2_service_alerts.yml
  airflow/dags/create_external_tables/gtfs_rt_v2/rt_v2_service_alerts_outcomes.yml
  airflow/dags/create_external_tables/gtfs_rt_v2/rt_v2_service_alerts_validation_notices.yml
  airflow/dags/create_external_tables/gtfs_rt_v2/rt_v2_service_alerts_validation_outcomes.yml
  airflow/dags/create_external_tables/gtfs_rt_v2/rt_v2_trip_updates.yml
  airflow/dags/create_external_tables/gtfs_rt_v2/rt_v2_trip_updates_outcomes.yml
  airflow/dags/create_external_tables/gtfs_rt_v2/rt_v2_trip_updates_validation_notices.yml
  airflow/dags/create_external_tables/gtfs_rt_v2/rt_v2_trip_updates_validation_outcomes.yml
  airflow/dags/create_external_tables/gtfs_rt_v2/rt_v2_vehicle_positions.yml
  airflow/dags/create_external_tables/gtfs_rt_v2/rt_v2_vehicle_positions_outcomes.yml
  airflow/dags/create_external_tables/gtfs_rt_v2/rt_v2_vehicle_positions_validation_notices.yml
  airflow/dags/create_external_tables/gtfs_rt_v2/rt_v2_vehicle_positions_validation_outcomes.yml
  airflow/plugins/operators/external_table.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

fix yaml key and remove one posthook select
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_county_geography.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_eligibility_programs.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_fare_systems.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_funding_programs.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_gtfs_datasets.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_gtfs_service_data.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_ntd_agency_info.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_organizations.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_place_geography.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_rider_requirements.yml
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_services.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_components.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_contracts.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_data_schemas.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_organizations.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_products.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_properties_features.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_relationships_service_components.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_service_components.yml
  airflow/dags/create_external_tables/airtable/external_airtable_transit_tech_stacks_services.yml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

do not require filters on schedule outcomes
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_download_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_agency_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_areas_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_attributions_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_calendar_dates_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_calendar_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_fare_attributes_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_fare_feed_info_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_fare_leg_rules_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_fare_products_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_fare_rules_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_fare_transfer_rules_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_frequencies_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_levels_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_pathways_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_routes_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_shapes_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_stop_areas_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_stop_times_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_stops_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_transfers_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_translations_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_json_outcomes/gtfs_schedule_trips_txt_json_outcomes.yml
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_unzip_outcomes.yml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

do not require partition filtering on schedule validation notices
  airflow/dags/create_external_tables/gtfs_schedule_v2/validation_notices.yml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

change a couple external tables that do not need partition elimination
  airflow/dags/create_external_tables/feed_aggregator_scrape_results.yml
  airflow/dags/create_external_tables/gtfs_download_configs.yml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

disable required filters on new tables
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_modes.yml
  airflow/dags/create_external_tables/ntd_data_products/annual_database_agency_information.yml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

bring in new calitp-data-infra, remove redundant deps (#2278)
  airflow/Dockerfile.composer
  airflow/dags/airtable_loader_v2/generate_gtfs_download_configs.py
  airflow/dags/dags.py
  airflow/dags/download_gtfs_schedule_v2/download_schedule_feeds.py
  airflow/dags/macros.py
  airflow/dags/payments_loader/calitp_included_payments_tables.py
  airflow/dags/unzip_and_validate_gtfs_schedule/unzip_gtfs_schedule.py
  airflow/plugins/libs/littlepay.py
  airflow/plugins/operators/airtable_to_gcs.py
  airflow/plugins/operators/amplitude_to_flattened_json.py
  airflow/plugins/operators/external_table.py
  airflow/plugins/operators/gtfs_csv_to_jsonl.py
  airflow/plugins/operators/pod_operator.py
  airflow/plugins/utils.py
  airflow/requirements-composer-1.17.7.txt
  airflow/requirements-composer-1.20.5-airflow-2.3.4.txt
  airflow/requirements-composer-1.20.5-airflow-2.4.3.txt
  airflow/requirements.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

add pin to fix version conflicts; also test this in dockerfile and bump others for hygiene
  airflow/Dockerfile.composer
  airflow/requirements.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

disable required filters on new tables (#2287)
  airflow/dags/create_external_tables/airtable/external_airtable_california_transit_modes.yml
  airflow/dags/create_external_tables/ntd_data_products/annual_database_agency_information.yml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

add pin to fix version conflicts; also test this in dockerfile and bump others for hygiene (#2288)
  airflow/Dockerfile.composer
  airflow/requirements.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

wip on docs
  warehouse/models/docs/_docs_overview.md
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

fix missing sqlalchemy-bigquery post calitp change
  airflow/requirements.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

test composer 1.20.5 airflow 2.2.5
  airflow/Dockerfile.composer
  airflow/requirements-composer-1.20.5-airflow-2.2.5.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

remove composer reqs we cannot test
  airflow/requirements-composer-1.20.5-airflow-2.2.5.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

new data infra
  airflow/requirements.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

do not require partition filters in one more case
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_validations_outcomes.yml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

more docs wip
  warehouse/models/docs/_docs_overview.md
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

do not require partition filters in one more case (#2292)
  airflow/dags/create_external_tables/gtfs_schedule_v2/gtfs_schedule_validations_outcomes.yml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

more docs wip - trips example
  warehouse/models/docs/_docs_overview.md
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

point hub at new jupyter singleuser image (#2286)
  kubernetes/apps/charts/jupyterhub/values.yaml
Owners: @atvaccaro, @charlie-costanzo, @SorenSpicknall

test us on 1.17.7
  airflow/Dockerfile.composer
  airflow/requirements-composer-1.17.7-airflow-2.1.4.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

fixes per pr review
  warehouse/models/docs/_docs_overview.md
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

use newest calitp-data-infra, drop sqlalchemy bigquery and make needed code changes
  airflow/plugins/libs/littlepay.py
  airflow/plugins/operators/external_table.py
  airflow/plugins/utils.py
  airflow/requirements.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

explicit project/location for bq
  airflow/plugins/operators/external_table.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

split rt validator check into 3 separate checks
  warehouse/macros/define_gtfs_guidelines.sql
  warehouse/models/intermediate/gtfs/gtfs_quality/int_gtfs_quality__no_rt_validation_errors.sql
  warehouse/models/mart/gtfs_quality/fct_daily_guideline_checks.md
  warehouse/models/mart/gtfs_quality/fct_daily_rt_feed_guideline_checks.md
  warehouse/models/staging/gtfs/gtfs_quality/stg_gtfs_quality__intended_checks.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall
