Repository cal-itp/data-infra, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atvaccaro, @SorenSpicknall, @lauriemerrell

.github/CODEOWNERS:

# Names are in alphabetical order, no priority or seniority is implied

# repo owners
*                                       @atvaccaro

# infra components
/.github/workflows                      @atvaccaro @SorenSpicknall
/ci                                     @atvaccaro @SorenSpicknall
/iac                                    @atvaccaro
/kubernetes                             @atvaccaro

# jupyter service, e.g. updating the image
/kubernetes/apps/charts/jupyterhub      @atvaccaro @SorenSpicknall
/images                                 @atvaccaro @SorenSpicknall

# project documentation
/docs                                   @lauriemerrell

# actual pipeline code
/airflow                                @atvaccaro @lauriemerrell @SorenSpicknall
/jobs                                   @atvaccaro @lauriemerrell @SorenSpicknall
/runbooks                               @atvaccaro @lauriemerrell @SorenSpicknall
/services                               @atvaccaro @lauriemerrell @SorenSpicknall
/warehouse                              @atvaccaro @lauriemerrell @SorenSpicknall

add stub docs on which software to request for Git/VS Code on Caltrans PCs (#2938)
  docs/analytics_tools/github_setup.md
Owners: @lauriemerrell

deploy: 530d63cf54ec6a18eec5a165e9f7f0f3fd60d2aa
  .buildinfo
  _sources/analytics_tools/bi_dashboards.ipynb
  _sources/analytics_tools/data_catalogs.ipynb
  _sources/analytics_tools/github_setup.md
  _sources/analytics_tools/python_libraries.ipynb
  _sources/analytics_tools/storing_data.ipynb
  _sources/warehouse/navigating_dbt_docs.ipynb
  _static/__pycache__/__init__.cpython-39.pyc
  analytics_tools/github_setup.html
  analytics_tools/python_libraries.html
  objects.inv
  searchindex.js
Owners: @atvaccaro

add incomplete variable fares to device transaction types so they will appear in payments rides
  warehouse/models/staging/payments/littlepay/int_littlepay__device_transaction_types.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

add incomplete variable fares to device transaction types so they will appear in payments rides (#2940)
  warehouse/models/staging/payments/littlepay/int_littlepay__device_transaction_types.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

persist both customer facing and subfeeds in daily model, filter in monthly
  warehouse/models/mart/gtfs_quality/fct_daily_organization_combined_guideline_checks.sql
  warehouse/models/mart/gtfs_quality/fct_monthly_reports_site_organization_guideline_checks.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

actually remove filter
  warehouse/models/mart/gtfs_quality/fct_daily_organization_combined_guideline_checks.sql
  warehouse/models/mart/gtfs_quality/fct_monthly_reports_site_organization_validation_codes.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall
