Repository cal-itp/data-infra, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hunterowens, @evansiroky, @vevetron, @tiffanychu90

.github/CODEOWNERS:

# Names are in alphabetical order, no priority or seniority is implied

# repo owners
*                                       @hunterowens @evansiroky

# infra components
/.github/workflows                      @evansiroky @vevetron
/ci                                     @evansiroky @vevetron
/iac                                    @evansiroky @vevetron
/kubernetes                             @evansiroky @vevetron

# jupyter service, e.g. updating the image
/kubernetes/apps/charts/jupyterhub      @evansiroky @vevetron
/images                                 @evansiroky @vevetron

# project documentation
/docs                                   @tiffanychu90

# actual pipeline code
/airflow                                @evansiroky @vevetron
/jobs                                   @evansiroky @vevetron
/runbooks                               @evansiroky @vevetron
/services                               @evansiroky @vevetron
/warehouse                              @evansiroky @vevetron @tiffanychu90

Create offboarding.md (#3341)
  .github/ISSUE_TEMPLATE/offboarding.md
Owners: @hunterowens, @evansiroky

fix(ci): use Python 3.11 to build and publish packages
  .github/workflows/build-calitp-data-analysis.yml
  packages/calitp-data-analysis/poetry.lock
  packages/calitp-data-analysis/pyproject.toml
Owners: @evansiroky, @vevetron, @hunterowens

fix(calitp-data-analysis): bump package number so it gets built this time
  packages/calitp-data-analysis/pyproject.toml
Owners: @hunterowens, @evansiroky

fix(docs): remove out-of-date note about publishing to PyPi not being automated
  apps/maps/README.md
Owners: @hunterowens, @evansiroky

fix(ci): use Python 3.11 to build and publish packages
  .github/workflows/build-calitp-map-utils.yml
Owners: @evansiroky, @vevetron

fix(calitp-map-utils): bumps version to use update publish workflow
  apps/maps/poetry.lock
  apps/maps/pyproject.toml
Owners: @hunterowens, @evansiroky

Revert "Upgrade custom image base to :python-3.11.6"
  images/jupyter-singleuser/Dockerfile
Owners: @evansiroky, @vevetron

feat(jupyter-singleuser): bumps up package versions so hopefully this builds
  .github/workflows/build-jupyter-singleuser-image.yml
  images/jupyter-singleuser/docker-compose.yaml
  images/jupyter-singleuser/poetry.lock
  images/jupyter-singleuser/pyproject.toml
  packages/calitp-data-analysis/poetry.lock
  packages/calitp-data-analysis/pyproject.toml
Owners: @evansiroky, @vevetron, @hunterowens

non-working commit, produces dask dependency error in poetry
  images/jupyter-singleuser/pyproject.toml
Owners: @evansiroky, @vevetron

feat(calitp-data-analysis): Upgrades dask packages so they work with python 3.11 & jupyter-single-user-image
  packages/calitp-data-analysis/poetry.lock
  packages/calitp-data-analysis/pyproject.toml
Owners: @hunterowens, @evansiroky

test-commit, add newer dask to calitp-data-analysis
  images/jupyter-singleuser/poetry.lock
  images/jupyter-singleuser/pyproject.toml
  packages/calitp-data-analysis/poetry.lock
  packages/calitp-data-analysis/pyproject.toml
Owners: @evansiroky, @vevetron, @hunterowens

Updating jupyter-singleuser from python 3.9 to python 3.11 (#3359)
  .github/workflows/build-jupyter-singleuser-image.yml
  images/jupyter-singleuser/docker-compose.yaml
  images/jupyter-singleuser/poetry.lock
  images/jupyter-singleuser/pyproject.toml
Owners: @evansiroky, @vevetron
