Repository cal-itp/data-infra, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atvaccaro, @lottspot, @SorenSpicknall, @charlie-costanzo, @lauriemerrell

.github/CODEOWNERS:

# Names are in alphabetical order, no priority or seniority is implied

# repo owners
*                                       @atvaccaro

# infra components
/.github/workflows                      @atvaccaro @lottspot @SorenSpicknall
/ci                                     @atvaccaro @lottspot @SorenSpicknall
/iac                                    @atvaccaro @lottspot
/kubernetes                             @atvaccaro @lottspot

# jupyter service, e.g. updating the image
/kubernetes/apps/charts/jupyterhub      @atvaccaro @charlie-costanzo @SorenSpicknall
/images                                 @atvaccaro @charlie-costanzo @SorenSpicknall

# project documentation
/docs                                   @charlie-costanzo @lauriemerrell

# actual pipeline code
/airflow                                @atvaccaro @lauriemerrell @SorenSpicknall
/jobs                                   @atvaccaro @lauriemerrell @SorenSpicknall
/runbooks                               @atvaccaro @lauriemerrell @SorenSpicknall
/services                               @atvaccaro @lauriemerrell @SorenSpicknall
/warehouse                              @atvaccaro @lauriemerrell @SorenSpicknall

suppress MTC regional feed from reporting
  warehouse/models/intermediate/gtfs/gtfs_quality/int_gtfs_quality__daily_assessment_candidate_entities.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

the deploy dags workflow does not actually touch k8s
  .github/workflows/deploy_airflow_dags.yml
Owners: @atvaccaro, @lottspot, @SorenSpicknall

remove bad test
  warehouse/models/mart/ntd/_mart_ntd.yml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

pre-commit changes
  airflow/plugins/operators/__init__.py
  airflow/plugins/operators/sentry_to_gcs.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

move the backdated field to the actual datasets dimension and make it backdated rather than current
  warehouse/models/intermediate/gtfs/gtfs_quality/_int_gtfs_quality.yml
  warehouse/models/intermediate/gtfs/gtfs_quality/int_gtfs_quality__naive_organization_service_dataset_full_join.sql
  warehouse/models/mart/transit_database/_mart_transit_database.yml
  warehouse/models/mart/transit_database/dim_gtfs_datasets.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

back-date regional feed type & suppress MTC regional feed from reports site reporting (#2271)
  warehouse/models/intermediate/gtfs/gtfs_quality/_int_gtfs_quality.yml
  warehouse/models/intermediate/gtfs/gtfs_quality/int_gtfs_quality__daily_assessment_candidate_entities.sql
  warehouse/models/intermediate/gtfs/gtfs_quality/int_gtfs_quality__naive_organization_service_dataset_full_join.sql
  warehouse/models/mart/transit_database/_mart_transit_database.yml
  warehouse/models/mart/transit_database/dim_gtfs_datasets.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

added rough draft of Tiffany's POC issue ask, skeleton of yml documentation
  warehouse/models/mart/ad_hoc/_mart_ad_hoc.yml
  warehouse/models/mart/ad_hoc/fct_scheduled_service_by_daypart.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

remove bad test (#2274)
  warehouse/models/mart/ntd/_mart_ntd.yml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

add test, update index table, add subquery
  warehouse/models/intermediate/gtfs/gtfs_quality/_int_gtfs_quality.yml
  warehouse/models/intermediate/gtfs/gtfs_quality/int_gtfs_quality__scheduled_trips_in_tu_feed.sql
  warehouse/models/intermediate/gtfs/gtfs_quality/int_gtfs_quality__services_guideline_index.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

Reorient around multiple issues in one task
  airflow/dags/sentry_loader/METADATA.yml
  airflow/dags/sentry_loader/sentry_loader.yml
  airflow/plugins/operators/sentry_to_gcs.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

count trip updates rather than trips in general
  warehouse/models/intermediate/gtfs/gtfs_quality/int_gtfs_quality__scheduled_trips_in_tu_feed.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

rethink join strategy
  warehouse/models/intermediate/gtfs/gtfs_quality/int_gtfs_quality__scheduled_trips_in_tu_feed.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

first pass at a reviewable table
  warehouse/models/mart/ad_hoc/fct_scheduled_service_by_daypart.sql
  warehouse/models/mart/gtfs/fct_daily_scheduled_trips.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

delete sandbox
  airflow/dags/sandbox/METADATA.yml
  airflow/dags/sandbox/airtable_denormalized.sql
  airflow/dags/sandbox/create_dataset.py
  airflow/dags/sandbox/example_feeds.sql
  airflow/dags/sandbox/example_validations.sql
  airflow/dags/sandbox/example_validations_changes.sql
  airflow/dags/sandbox/load_airtable_child.yml
  airflow/dags/sandbox/merge_create_merge_target.sql
  airflow/dags/sandbox/merge_query_table.py
  airflow/dags/sandbox/merge_run.py
  airflow/dags/sandbox/op_airtable_to_warehouse.yml
  airflow/dags/sandbox/op_csv_to_warehouse.sql
  airflow/dags/sandbox/op_external_table.yml
  airflow/dags/sandbox/op_pod_operator.yml
  airflow/dags/sandbox/op_python_to_warehouse.py
  airflow/dags/sandbox/op_sql_query.sql
  airflow/dags/sandbox/op_sql_to_warehouse.sql
  airflow/dags/sandbox/query_external.py
  airflow/dags/sandbox/save_external_table_data.py
  airflow/dags/sandbox/test_testing_failures.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

delete old validation code descriptions
  airflow/dags/rt_loader_files/METADATA.yml
  airflow/dags/rt_loader_files/calitp_files_process.py
  airflow/dags/rt_loader_files/external_calitp_files.sql
  airflow/dags/rt_loader_files/gtfs_rt_validation_code_descriptions.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

Address PR feedback (round 1)
  airflow/docker-compose.yaml
  airflow/plugins/operators/sentry_to_gcs.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

delete python to warehouse operator
  airflow/plugins/operators/__init__.py
  airflow/plugins/operators/python_to_warehouse_operator.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

delete python taskflow operator
  airflow/plugins/operators/__init__.py
  airflow/plugins/operators/python_taskflow_operator.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

delete once off external task operator
  airflow/plugins/operators/__init__.py
  airflow/plugins/operators/once_off_external_task_sensor.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

Fix bucket name for events
  airflow/dags/create_external_tables/sentry_error_logs.yml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

delete csv to warehouse operator
  airflow/plugins/operators/__init__.py
  airflow/plugins/operators/csv_to_warehouse_operator.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

use external table operator for benefits
  airflow/dags/amplitude_benefits/benefits_events_external_table.yml
  airflow/dags/amplitude_benefits/bigquery_to_views.sql
  airflow/dags/amplitude_benefits/jsonl_bigquery.sql
  airflow/docker-compose.yaml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

use dbt for amplitude_benefits_events
  airflow/dags/amplitude_benefits/bigquery_to_views.sql
  warehouse/models/benefits/_amplitude.yml
  warehouse/models/benefits/amplitude_benefits_events.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

delete now-unused sql operators
  airflow/plugins/operators/__init__.py
  airflow/plugins/operators/sql_query_operator.py
  airflow/plugins/operators/sql_to_warehouse_operator.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

move benefits external table to external table dag
  airflow/dags/create_external_tables/benefits_events.yml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

delete old macros and utils; also delete feed aggregator checks external table
  airflow/dags/create_external_tables/feed_aggregator_checks.yml
  airflow/dags/create_external_tables/feed_aggregator_scrape_results.yml
  airflow/dags/macros.py
  airflow/plugins/constants.py
  airflow/plugins/merge_sql.py
  airflow/plugins/testing.py
  airflow/plugins/utils.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

dbt docstring udpate
  warehouse/models/mart/gtfs_quality/_mart_gtfs_quality.yml
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

revised 24hours as seconds typo
  warehouse/models/mart/ad_hoc/fct_scheduled_service_by_daypart.sql
  warehouse/models/mart/gtfs/fct_daily_scheduled_trips.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

update gcloud version in jupyter singleuser image
  images/jupyter-singleuser/Dockerfile
  images/jupyter-singleuser/pyproject.toml
Owners: @atvaccaro, @charlie-costanzo, @SorenSpicknall

pulled through activity columns for fct_daily_scheduled_shapes and fct_daily_scheduled_stops
  warehouse/models/mart/gtfs/fct_daily_scheduled_shapes.sql
  warehouse/models/mart/gtfs/fct_daily_scheduled_stops.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

Switch to ts for filtering table creation
  warehouse/models/staging/rt/stg_rt__feed_fetch_errors.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

stop deploying airflow data
  .github/workflows/deploy_airflow_dags.yml
Owners: @atvaccaro, @lottspot, @SorenSpicknall

Switch to parallel processing
  airflow/plugins/operators/sentry_to_gcs.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

Switch to standard view materialization for stg table
  warehouse/models/staging/rt/stg_rt__feed_fetch_errors.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

Temporarily hardcode 7-day issue window
  airflow/plugins/operators/sentry_to_gcs.py
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

Begin reimplementing incrementality
  warehouse/models/staging/rt/stg_rt__feed_fetch_errors.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

remove commented-out query
  warehouse/models/intermediate/gtfs/gtfs_quality/int_gtfs_quality__scheduled_trips_in_tu_feed.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

update join, again
  warehouse/models/intermediate/gtfs/gtfs_quality/int_gtfs_quality__scheduled_trips_in_tu_feed.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

Bugfix scheduled in tu (#2276)
  warehouse/models/intermediate/gtfs/gtfs_quality/_int_gtfs_quality.yml
  warehouse/models/intermediate/gtfs/gtfs_quality/int_gtfs_quality__scheduled_trips_in_tu_feed.sql
  warehouse/models/intermediate/gtfs/gtfs_quality/int_gtfs_quality__services_guideline_index.sql
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall

bump data infra
  airflow/requirements.txt
Owners: @atvaccaro, @lauriemerrell, @SorenSpicknall
