Repository cal-itp/data-infra, pull requests merged in 2022-04, with the labels that each got.

#1312 dbt: persist docs
  warehouse/dbt_project.yml
Labels: dbt

#1288 Docs GitHub contributions
  docs/_toc.yml
  docs/github/contribute_to_repos.md
Labels: type: documentation

#1116 Amplitude to Metabase feature branch
  airflow/.env.sample
  airflow/dags/amplitude_benefits/METADATA.yml
  airflow/dags/amplitude_benefits/api_to_jsonl.yml
  airflow/dags/amplitude_benefits/bigquery_to_views.sql
  airflow/dags/amplitude_benefits/jsonl_bigquery.sql
  airflow/dags/macros.py
  airflow/docker-compose.yaml
  airflow/plugins/operators/__init__.py
  airflow/plugins/operators/amplitude_to_flattened_json.py
  docs/_toc.yml
  docs/datasets_and_tables/amplitude.md
  docs/datasets_and_tables/overview.md
Labels: project-benefits

#1337 fix(gtfs schedule): Partition validation notices by `calitp_itp_id` AND `calitp_url number`
  airflow/dags/gtfs_schedule_history2/validation_notices_load.sql
Labels: project-gtfs-schedule

#1340 Airflow: change Airtable DAG execution time to 0200 UTC
  airflow/dags/airtable_loader/METADATA.yml
  airflow/dags/airtable_views/METADATA.yml
Labels: airtable

#1320 Fix filter gtfs schedule to is in latest
  airflow/dags/macros.py
Labels: project-gtfs-schedule

#1364 gtfs_views_staging dbt migration
  airflow/dags/gtfs_views_staging/METADATA.yml
  airflow/dags/gtfs_views_staging/agency_clean.sql
  airflow/dags/gtfs_views_staging/attributions_clean.sql
  airflow/dags/gtfs_views_staging/calendar_clean.sql
  airflow/dags/gtfs_views_staging/calendar_dates_clean.sql
  airflow/dags/gtfs_views_staging/fare_attributes_clean.sql
  airflow/dags/gtfs_views_staging/fare_rules_clean.sql
  airflow/dags/gtfs_views_staging/feed_info_clean.sql
  airflow/dags/gtfs_views_staging/frequencies_clean.sql
  airflow/dags/gtfs_views_staging/levels_clean.sql
  airflow/dags/gtfs_views_staging/pathways_clean.sql
  airflow/dags/gtfs_views_staging/routes_clean.sql
  airflow/dags/gtfs_views_staging/shapes_clean.sql
  airflow/dags/gtfs_views_staging/stop_times_clean.sql
  airflow/dags/gtfs_views_staging/stops_clean.sql
  airflow/dags/gtfs_views_staging/transfers_clean.sql
  airflow/dags/gtfs_views_staging/translations_clean.sql
  airflow/dags/gtfs_views_staging/trips_clean.sql
  airflow/dags/gtfs_views_staging/type2_loaded.yml
  airflow/dags/gtfs_views_staging/validation_notices_clean.sql
  warehouse/dbt_project.yml
  warehouse/models/_gtfs_docs.md
  warehouse/models/_gtfs_schedule_docs.md
  warehouse/models/gtfs_rt/_gtfs_rt_docs.md
  warehouse/models/gtfs_views_staging/_gtfs_views_staging.yml
  warehouse/models/gtfs_views_staging/agency_clean.sql
  warehouse/models/gtfs_views_staging/attributions_clean.sql
  warehouse/models/gtfs_views_staging/calendar_clean.sql
  warehouse/models/gtfs_views_staging/calendar_dates_clean.sql
  warehouse/models/gtfs_views_staging/calitp_feeds.sql
  warehouse/models/gtfs_views_staging/fare_attributes_clean.sql
  warehouse/models/gtfs_views_staging/fare_rules_clean.sql
  warehouse/models/gtfs_views_staging/feed_info_clean.sql
  warehouse/models/gtfs_views_staging/frequencies_clean.sql
  warehouse/models/gtfs_views_staging/levels_clean.sql
  warehouse/models/gtfs_views_staging/pathways_clean.sql
  warehouse/models/gtfs_views_staging/routes_clean.sql
  warehouse/models/gtfs_views_staging/shapes_clean.sql
  warehouse/models/gtfs_views_staging/stop_times_clean.sql
  warehouse/models/gtfs_views_staging/stops_clean.sql
  warehouse/models/gtfs_views_staging/transfers_clean.sql
  warehouse/models/gtfs_views_staging/translations_clean.sql
  warehouse/models/gtfs_views_staging/trips_clean.sql
  warehouse/models/gtfs_views_staging/validation_notices_clean.sql
  warehouse/models/rt_views/_rt_views.yml
  warehouse/models/rt_views/gtfs_rt_fact_files.sql
  warehouse/models/rt_views/gtfs_rt_fact_files_wide_hourly.sql
Labels: project-gtfs-schedule

#1302 docs(adding data): new doc describing how to write tables to BQ
  docs/_toc.yml
  docs/airflow/agencies.md
  docs/airflow/views.md
  docs/analytics_onboarding/overview.md
  docs/analytics_tools/notebooks.md
  docs/analytics_tools/saving_code.md
  docs/analytics_tools/storing_data.md
  docs/analytics_tools/tools_quick_links.md
  docs/analytics_welcome/how_we_work.md
  docs/datasets_and_tables/gtfs_rt.md
  docs/warehouse/adding_oneoff_data.md
Labels: type: documentation

#1372 payments: delete sbmtd_transactions airflow dag task
  airflow/dags/payments_views/sbmtd_transactions.sql
Labels: project-payments

#1371 docs(ssh): added information on persisting SSH keys clarified creating SSH keys
  docs/analytics_tools/notebooks.md
  docs/analytics_tools/saving_code.md
Labels: type: documentation

#1373 GTFS Schedule latest only dbt migration
  airflow/dags/gtfs_schedule/METADATA.yml
  airflow/dags/gtfs_schedule/agency.sql
  airflow/dags/gtfs_schedule/attributions.sql
  airflow/dags/gtfs_schedule/calendar.sql
  airflow/dags/gtfs_schedule/calendar_dates.sql
  airflow/dags/gtfs_schedule/dummy_views_staging.yml
  airflow/dags/gtfs_schedule/fare_attributes.sql
  airflow/dags/gtfs_schedule/fare_rules.sql
  airflow/dags/gtfs_schedule/feed_info.sql
  airflow/dags/gtfs_schedule/frequencies.sql
  airflow/dags/gtfs_schedule/levels.sql
  airflow/dags/gtfs_schedule/pathways.sql
  airflow/dags/gtfs_schedule/routes.sql
  airflow/dags/gtfs_schedule/shapes.sql
  airflow/dags/gtfs_schedule/stop_times.sql
  airflow/dags/gtfs_schedule/stops.sql
  airflow/dags/gtfs_schedule/transfers.sql
  airflow/dags/gtfs_schedule/translations.sql
  airflow/dags/gtfs_schedule/trips.sql
  airflow/dags/gtfs_schedule/validation_notices.sql
  airflow/dags/macros.py
  warehouse/dbt_project.yml
  warehouse/macros/get_latest_schedule_data.sql
  warehouse/models/gtfs_schedule_latest_only/_gtfs_schedule_latest_only.yml
  warehouse/models/gtfs_schedule_latest_only/agency.sql
  warehouse/models/gtfs_schedule_latest_only/attributions.sql
  warehouse/models/gtfs_schedule_latest_only/calendar.sql
  warehouse/models/gtfs_schedule_latest_only/calendar_dates.sql
  warehouse/models/gtfs_schedule_latest_only/fare_attributes.sql
  warehouse/models/gtfs_schedule_latest_only/fare_rules.sql
  warehouse/models/gtfs_schedule_latest_only/feed_info.sql
  warehouse/models/gtfs_schedule_latest_only/frequencies.sql
  warehouse/models/gtfs_schedule_latest_only/levels.sql
  warehouse/models/gtfs_schedule_latest_only/pathways.sql
  warehouse/models/gtfs_schedule_latest_only/routes.sql
  warehouse/models/gtfs_schedule_latest_only/shapes.sql
  warehouse/models/gtfs_schedule_latest_only/stop_times.sql
  warehouse/models/gtfs_schedule_latest_only/stops.sql
  warehouse/models/gtfs_schedule_latest_only/transfers.sql
  warehouse/models/gtfs_schedule_latest_only/translations.sql
  warehouse/models/gtfs_schedule_latest_only/trips.sql
  warehouse/models/gtfs_schedule_latest_only/validation_notices.sql
Labels: project-gtfs-schedule

#1431 fix(gtfs schedule): suppress API keys in tables
  warehouse/models/gtfs_views_staging/calitp_feeds.sql
Labels: project-gtfs-schedule
