Repository cal-itp/data-infra, pull requests merged in 2022-05, with the labels that each got.

#1463 Rt views to dbt
  airflow/dags/rt_loader/gtfs_rt_validation_code_descriptions.py
  airflow/dags/rt_views/METADATA.yml
  airflow/dags/rt_views/gtfs_rt_extraction_errors.sql
  docs/airflow/production-maintenance.md
  warehouse/models/_source_gtfs_schedule_history.yml
  warehouse/models/rt_views/_rt_views.yml
  warehouse/models/rt_views/gtfs_rt_fact_extraction_errors.sql
  warehouse/models/rt_views/gtfs_rt_validation_code_descriptions.sql
Labels: gtfs-rt, dbt

#1473 k8s: bumped up jupyterhub values.yml to hub-v12
  kubernetes/apps/charts/jupyterhub/values.yaml
Labels: enhancement, project-analytics

#1490 docs(github): added information on options for how to resolve merge conflicts
  docs/analytics_tools/saving_code.md
Labels: type: documentation

#1489 jupyter values.yaml: updated oauth_callback_url from hubtest to notebooks.calitp.org
  kubernetes/apps/charts/jupyterhub/values.yaml
Labels: type: bug, subject:jupyterhub-platform

#1494 jupyter(helm): re-updating the heml oauth_callback to point to notebooks.calitp.org
  kubernetes/apps/charts/jupyterhub/values.yaml
Labels: scope:jupyterhub

#1477 Airtable operator refactor
  airflow/dags/airtable_loader/california_transit_county_geography.yml
  airflow/dags/airtable_loader/california_transit_eligibility_programs.yml
  airflow/dags/airtable_loader/california_transit_fare_systems.yml
  airflow/dags/airtable_loader/california_transit_funding_programs.yml
  airflow/dags/airtable_loader/california_transit_gtfs_datasets.yml
  airflow/dags/airtable_loader/california_transit_gtfs_service_data.yml
  airflow/dags/airtable_loader/california_transit_ntd_agency_info.yml
  airflow/dags/airtable_loader/california_transit_organizations.yml
  airflow/dags/airtable_loader/california_transit_place_geography.yml
  airflow/dags/airtable_loader/california_transit_rider_requirements.yml
  airflow/dags/airtable_loader/california_transit_services.yml
  airflow/dags/create_external_tables/external_airtable_california_transit_county_geography.yml
  airflow/dags/create_external_tables/external_airtable_california_transit_eligibility_programs.yml
  airflow/dags/create_external_tables/external_airtable_california_transit_fare_systems.yml
  airflow/dags/create_external_tables/external_airtable_california_transit_funding_programs.yml
  airflow/dags/create_external_tables/external_airtable_california_transit_gtfs_datasets.yml
  airflow/dags/create_external_tables/external_airtable_california_transit_gtfs_service_data.yml
  airflow/dags/create_external_tables/external_airtable_california_transit_ntd_agency_info.yml
  airflow/dags/create_external_tables/external_airtable_california_transit_organizations.yml
  airflow/dags/create_external_tables/external_airtable_california_transit_place_geography.yml
  airflow/dags/create_external_tables/external_airtable_california_transit_rider_requirements.yml
  airflow/dags/create_external_tables/external_airtable_california_transit_services.yml
  airflow/dags/sandbox/load_airtable_child.yml
  airflow/dags/sandbox/op_airtable_to_warehouse.yml
  airflow/plugins/operators/airtable_to_warehouse.py
  airflow/requirements.txt
Labels: airtable

#1504 docs(audit): identify and fix broken or outdated links, misc quick improvements
  docs/analytics_examples/new_tutorial.md
  docs/analytics_examples/overview.md
  docs/analytics_examples/warehouse_tutorial.md
  docs/analytics_onboarding/overview.md
  docs/analytics_publishing/where_reports_live.md
  docs/analytics_tools/data_catalogs.md
  docs/analytics_tools/knowledge_sharing.md
  docs/analytics_tools/notebooks.md
  docs/analytics_tools/overview.md
  docs/analytics_tools/python_libraries.md
  docs/analytics_tools/tools_quick_links.md
  docs/analytics_welcome/how_we_work.md
  docs/analytics_welcome/overview.md
  docs/architecture/architecture_overview.md
  docs/intro.md
  docs/warehouse/adding_oneoff_data.md
  docs/warehouse/overview.md
  docs/warehouse/sql_snippets.md
Labels: type: documentation

#1507 agencies.yml: add LAX FlyAway
  airflow/data/agencies.yml
Labels: project-gtfs-schedule

#1508 fix(gtfs schedule): handle feed removal gaps in gtfs_views_staging.calitp_feeds
  warehouse/models/gtfs_views_staging/calitp_feeds.sql
Labels: project-gtfs-schedule

#1516 agencies.yml: add/update Anaheim and Santa Maria agency info
  airflow/data/agencies.yml
Labels: gtfs-rt, project-gtfs-schedule

#1523 headers.yml: fix octa header reference
  airflow/data/headers.yml
Labels: gtfs-rt

#1538 airtable: rename gtfs dataset columns to be BQ friendly
  airflow/dags/airtable_loader/california_transit_gtfs_datasets.yml
Labels: airtable
