Repository cal-itp/data-infra, pull requests merged in 2022-03, with the labels that each got.

#1145 Refactor gtfs views staging cleaning
  airflow/dags/gtfs_views/gtfs_schedule_dim_feeds.sql
  airflow/dags/gtfs_views/gtfs_schedule_dim_pathways.sql
  airflow/dags/gtfs_views/gtfs_schedule_dim_routes.sql
  airflow/dags/gtfs_views/gtfs_schedule_dim_stop_times.sql
  airflow/dags/gtfs_views/gtfs_schedule_dim_stops.sql
  airflow/dags/gtfs_views/gtfs_schedule_dim_trips.sql
  airflow/dags/gtfs_views/gtfs_schedule_stg_calendar_long.sql
  airflow/dags/gtfs_views/gtfs_schedule_stg_daily_service.sql
  airflow/dags/gtfs_views/reports_gtfs_schedule_index.sql
  airflow/dags/gtfs_views/validation_dim_codes.sql
  airflow/dags/gtfs_views/validation_fact_daily_feed_notices.sql
  airflow/dags/gtfs_views_staging/agency_clean.sql
  airflow/dags/gtfs_views_staging/attributions_clean.sql
  airflow/dags/gtfs_views_staging/calendar_clean.sql
  airflow/dags/gtfs_views_staging/calendar_dates_clean.sql
  airflow/dags/gtfs_views_staging/calitp_feeds.sql
  airflow/dags/gtfs_views_staging/fare_attributes_clean.sql
  airflow/dags/gtfs_views_staging/fare_rules_clean.sql
  airflow/dags/gtfs_views_staging/feed_info_clean.sql
  airflow/dags/gtfs_views_staging/frequencies_clean.sql
  airflow/dags/gtfs_views_staging/levels_clean.sql
  airflow/dags/gtfs_views_staging/pathways_clean.sql
  airflow/dags/gtfs_views_staging/routes_clean.sql
  airflow/dags/gtfs_views_staging/stop_times_clean.sql
  airflow/dags/gtfs_views_staging/stops_clean.sql
  airflow/dags/gtfs_views_staging/transfers_clean.sql
  airflow/dags/gtfs_views_staging/translations_clean.sql
  airflow/dags/gtfs_views_staging/trips_clean.sql
  airflow/dags/gtfs_views_staging/validation_notices_clean.sql
Labels: project-gtfs-schedule

#1154 Hotfix stops typing
  airflow/dags/gtfs_schedule_history/stops.yml
  airflow/dags/gtfs_views_staging/stops_clean.sql
Labels: project-gtfs-schedule

#1158 chore(gtfs-schedule): add minimal logging to merge_updates
  airflow/dags/gtfs_schedule_history2/merge_updates.py
Labels: project-gtfs-schedule

#1163 Gtfs add graas rt urls
  airflow/data/agencies.yml
Labels: GRaaS

#1171 jupyterhub(image): bumped up calitp in jupyter image
  kubernetes/apps/charts/jupyterhub/values.yaml
Labels: QOL, scope:jupyterhub

#1172 jupyterhub(image): revised - bumped up version of jupyter image
  kubernetes/apps/charts/jupyterhub/values.yaml
Labels: QOL, scope:jupyterhub

#1187 docs(sphinx extensions): added shinxcontrib-mermaid to JupyterBook
  .github/workflows/publish-docs.yml
  airflow/requirements.txt
  docs/_config.yml
  docs/conf.py
Labels: documentation, enhancement

#1189 docs(developers): add architecture diagram
  docs/_toc.yml
  docs/architecture/architecture_overview.md
Labels: documentation

#1208 Fix rt validations add feed key
  airflow/dags/rt_views/gtfs_rt_fact_daily_feeds.sql
  airflow/dags/rt_views/gtfs_rt_fact_daily_validation_errors.sql
  airflow/dags/rt_views/gtfs_rt_fact_files.sql
  airflow/dags/rt_views/gtfs_rt_fact_files_wide_hourly.sql
Labels: gtfs-rt

#1200 Amplitude JSON to GCS
  airflow/dags/amplitude_benefits_loader/METADATA.yml
  airflow/dags/amplitude_benefits_loader/benefits_events.yml
  airflow/docker-compose.yaml
  airflow/plugins/operators/__init__.py
  airflow/plugins/operators/amplitude_to_flattened_json.py
  airflow/plugins/operators/amplitude_to_warehouse.py
Labels: project-benefits

#1209 Amplitude: Create gusty sql table loader for amplitude
  airflow/.env.sample
  airflow/dags/amplitude_benefits_loader/benefits_events.yml
  airflow/dags/amplitude_benefits_loader/jsonl_bigquery.sql
  airflow/docker-compose.yaml
  airflow/plugins/operators/amplitude_to_flattened_json.py
Labels: project-benefits

#1162 Refactor gtfs schedule feeds latest
  airflow/dags/gtfs_loader/gtfs_schedule_tables_load.py
  airflow/dags/gtfs_schedule/METADATA.yml
  airflow/dags/gtfs_schedule/agency.sql
  airflow/dags/gtfs_schedule/attributions.sql
  airflow/dags/gtfs_schedule/calendar.sql
  airflow/dags/gtfs_schedule/calendar_dates.sql
  airflow/dags/gtfs_schedule/fare_attributes.sql
  airflow/dags/gtfs_schedule/fare_rules.sql
  airflow/dags/gtfs_schedule/feed_info.sql
  airflow/dags/gtfs_schedule/frequencies.sql
  airflow/dags/gtfs_schedule/levels.sql
  airflow/dags/gtfs_schedule/pathways.sql
  airflow/dags/gtfs_schedule/routes.sql
  airflow/dags/gtfs_schedule/shapes.sql
  airflow/dags/gtfs_schedule/stop_times.sql
  airflow/dags/gtfs_schedule/stops.sql
  airflow/dags/gtfs_schedule/transfers.sql
  airflow/dags/gtfs_schedule/translations.sql
  airflow/dags/gtfs_schedule/trips.sql
  airflow/dags/gtfs_schedule/validation_notices.sql
  airflow/dags/gtfs_views_staging/shapes_clean.sql
  airflow/dags/gtfs_views_staging/validation_notices_clean.sql
  airflow/dags/macros.py
Labels: project-gtfs-schedule

#1157 Refactor gtfs views staging
  airflow/dags/gtfs_loader/gtfs_schedule_tables_load.py
  airflow/dags/gtfs_schedule/METADATA.yml
  airflow/dags/gtfs_schedule/agency.sql
  airflow/dags/gtfs_schedule/attributions.sql
  airflow/dags/gtfs_schedule/calendar.sql
  airflow/dags/gtfs_schedule/calendar_dates.sql
  airflow/dags/gtfs_schedule/fare_attributes.sql
  airflow/dags/gtfs_schedule/fare_rules.sql
  airflow/dags/gtfs_schedule/feed_info.sql
  airflow/dags/gtfs_schedule/frequencies.sql
  airflow/dags/gtfs_schedule/levels.sql
  airflow/dags/gtfs_schedule/pathways.sql
  airflow/dags/gtfs_schedule/routes.sql
  airflow/dags/gtfs_schedule/shapes.sql
  airflow/dags/gtfs_schedule/stop_times.sql
  airflow/dags/gtfs_schedule/stops.sql
  airflow/dags/gtfs_schedule/transfers.sql
  airflow/dags/gtfs_schedule/translations.sql
  airflow/dags/gtfs_schedule/trips.sql
  airflow/dags/gtfs_schedule/validation_notices.sql
  airflow/dags/gtfs_schedule_history/attributions.yml
  airflow/dags/gtfs_views/gtfs_schedule_dim_feeds.sql
  airflow/dags/gtfs_views/gtfs_schedule_dim_pathways.sql
  airflow/dags/gtfs_views/gtfs_schedule_dim_routes.sql
  airflow/dags/gtfs_views/gtfs_schedule_dim_stop_times.sql
  airflow/dags/gtfs_views/gtfs_schedule_dim_stops.sql
  airflow/dags/gtfs_views/gtfs_schedule_dim_trips.sql
  airflow/dags/gtfs_views/gtfs_schedule_stg_calendar_long.sql
  airflow/dags/gtfs_views/gtfs_schedule_stg_daily_service.sql
  airflow/dags/gtfs_views/reports_gtfs_schedule_index.sql
  airflow/dags/gtfs_views/validation_dim_codes.sql
  airflow/dags/gtfs_views/validation_fact_daily_feed_notices.sql
  airflow/dags/gtfs_views_staging/agency_clean.sql
  airflow/dags/gtfs_views_staging/attributions_clean.sql
  airflow/dags/gtfs_views_staging/calendar_clean.sql
  airflow/dags/gtfs_views_staging/calendar_dates_clean.sql
  airflow/dags/gtfs_views_staging/calitp_feeds.sql
  airflow/dags/gtfs_views_staging/fare_attributes_clean.sql
  airflow/dags/gtfs_views_staging/fare_rules_clean.sql
  airflow/dags/gtfs_views_staging/feed_info_clean.sql
  airflow/dags/gtfs_views_staging/frequencies_clean.sql
  airflow/dags/gtfs_views_staging/levels_clean.sql
  airflow/dags/gtfs_views_staging/pathways_clean.sql
  airflow/dags/gtfs_views_staging/routes_clean.sql
  airflow/dags/gtfs_views_staging/shapes_clean.sql
  airflow/dags/gtfs_views_staging/stop_times_clean.sql
  airflow/dags/gtfs_views_staging/stops_clean.sql
  airflow/dags/gtfs_views_staging/transfers_clean.sql
  airflow/dags/gtfs_views_staging/translations_clean.sql
  airflow/dags/gtfs_views_staging/trips_clean.sql
  airflow/dags/gtfs_views_staging/validation_notices_clean.sql
  airflow/dags/macros.py
  airflow/dags/payments_views/mst_transactions_gtfs_enhanced.sql
  airflow/dags/payments_views/payments_rides.sql
  airflow/dags/payments_views/sbmtd_transactions.sql
  airflow/dags/payments_views_staging/stg_cleaned_device_transactions.sql
Labels: project-gtfs-schedule

#1242 Feature - GTFS schedule: Add dim_shapes and dim_shapes_geo
  airflow/dags/gtfs_views/gtfs_schedule_dim_shapes.sql
  airflow/dags/gtfs_views/gtfs_schedule_dim_shapes_geo.sql
  airflow/dags/gtfs_views_staging/shapes_clean.sql
Labels: project-gtfs-schedule

#1244 Fix - GTFS Schedule: Reduce wait tasks for gtfs_schedule DAG
  airflow/dags/gtfs_schedule/agency.sql
  airflow/dags/gtfs_schedule/attributions.sql
  airflow/dags/gtfs_schedule/calendar.sql
  airflow/dags/gtfs_schedule/calendar_dates.sql
  airflow/dags/gtfs_schedule/dummy_views_staging.yml
  airflow/dags/gtfs_schedule/fare_attributes.sql
  airflow/dags/gtfs_schedule/fare_rules.sql
  airflow/dags/gtfs_schedule/feed_info.sql
  airflow/dags/gtfs_schedule/frequencies.sql
  airflow/dags/gtfs_schedule/levels.sql
  airflow/dags/gtfs_schedule/pathways.sql
  airflow/dags/gtfs_schedule/routes.sql
  airflow/dags/gtfs_schedule/shapes.sql
  airflow/dags/gtfs_schedule/stop_times.sql
  airflow/dags/gtfs_schedule/stops.sql
  airflow/dags/gtfs_schedule/transfers.sql
  airflow/dags/gtfs_schedule/translations.sql
  airflow/dags/gtfs_schedule/trips.sql
  airflow/dags/gtfs_schedule/validation_notices.sql
Labels: project-gtfs-schedule

#1269 fix(rt): remove validation errors dependency on rt loader
  airflow/dags/rt_views/gtfs_rt_fact_daily_validation_errors.sql
Labels: gtfs-rt

#1280 fix(gtfs schedule): fix get latest logic.... again
  airflow/dags/macros.py
Labels: project-gtfs-schedule

#1273 chore(airflow): deprecate obsolete transitstacks dags
  airflow/dags/transitstacks_loader/METADATA.yml
  airflow/dags/transitstacks_loader/fares.yml
  airflow/dags/transitstacks_loader/ntd_finances.yml
  airflow/dags/transitstacks_loader/ntd_stats.yml
  airflow/dags/transitstacks_loader/overview.yml
  airflow/dags/transitstacks_loader/provider_info.yml
  airflow/dags/transitstacks_views/METADATA.yml
  airflow/dags/transitstacks_views/transitstacks.sql
  docs/datasets_and_tables/overview.md
Labels: airtable

#1292 fix(gtfs schedule): dim shapes geo versioning again
  airflow/dags/gtfs_views/gtfs_schedule_dim_shapes_geo.sql
Labels: project-gtfs-schedule
