Repository cal-itp/data-infra, pull requests merged in 2022-08, with the labels that each got.

#1660 Delete unneeded payment view dag, update dependencies and documetation
  airflow/dags/payments_views/dummy_staging.yml
  airflow/dags/payments_views/mst_stg_micropayment_device_ids_fare_type.sql
  airflow/dags/payments_views/mst_transactions_gtfs_enhanced.sql
  airflow/dags/payments_views_staging/METADATA.yml
  docs/airflow/production-maintenance.md
Labels: dependencies

#1570 docs(datasets and tables): replacing current table-level documentation with links to dbt-docs
  docs/_toc.yml
  docs/datasets_and_tables/gtfs_realtime.md
  docs/datasets_and_tables/gtfs_schedule.md
  docs/datasets_and_tables/navigating_dbt_docs.md
  docs/datasets_and_tables/overview.md
  docs/datasets_and_tables/tables.md
  docs/datasets_and_tables/views.md
Labels: type: documentation, dbt

#1705 Fix: skip amplitude_benefits DAG if 404
  airflow/plugins/operators/amplitude_to_flattened_json.py
Labels: project-benefits

#1712 Initial dbt models to support GTFS guidelines checks
  warehouse/dbt_project.yml
  warehouse/macros/define_gtfs_guidelines.sql
  warehouse/models/mart/gtfs_guidelines/_gtfs_guidelines.yml
  warehouse/models/mart/gtfs_guidelines/fact_daily_guideline_checks.sql
  warehouse/models/staging/gtfs_guidelines/stg_gtfs_guidelines__feed_guideline_index.sql
  warehouse/models/staging/gtfs_guidelines/stg_gtfs_guidelines__no_validation_errors_in_last_30_days.sql
  warehouse/models/staging/gtfs_guidelines/stg_gtfs_guidelines__schedule_downloaded_successfully.sql
  warehouse/scripts/run_and_upload.py
Labels: product: transit-data-quality, do-not-merge

#1708 Add RT VP vs Sched Table
  warehouse/models/rt_views/_rt_views.yml
  warehouse/models/rt_views/gtfs_rt_vs_schedule_trips_sample.sql
Labels: gtfs-rt

#1734 Organizations external table: define schema
  airflow/dags/create_external_tables/external_airtable_california_transit_organizations.yml
  airflow/dags/create_external_tables/external_airtable_transit_tech_stacks_organizations.yml
Labels: airtable
