Repository cal-itp/data-infra, pull requests merged in 2024-10, with the labels that each got.

#3496 Bug Fix Display the organization name from last year if this year does not exist
  warehouse/models/intermediate/ntd_validation/int_ntd_rr20_financial_specific_funds.sql
Labels: product: ntd reporting

#3495 New NTD mart table dim_annual_funding_sources
  warehouse/models/mart/ntd/_mart_ntd.yml
  warehouse/models/mart/ntd/dim_annual_funding_sources.sql
Labels: data-pipeline-ingestion-and-modeling

#3500 Remove outdated or incorrect users for Hub values.yaml
  kubernetes/apps/charts/jupyterhub/values.yaml
Labels: admin

#3468 Refactor: Benefits Amplitude events
  warehouse/models/mart/benefits/_mart_benefits.yml
  warehouse/models/mart/benefits/fct_benefits_events.sql
Labels: project-benefits
