Repository cal-itp/data-infra, pull requests merged in 2024-09, with the labels that each got.

#3464 correct inaccurate NTD extract object name
  airflow/dags/sync_ntd_data_api/METADATA.yml
  airflow/dags/sync_ntd_data_xlsx/METADATA.yml
  airflow/plugins/operators/scrape_ntd_api.py
Labels: data-pipeline-ingestion-and-modeling

#3461 Upgrade Metabase to v0.50.26.1
  kubernetes/apps/values/metabase-test.yaml
  kubernetes/apps/values/metabase.yaml
  runbooks/workflow/upgrade-metabase.md
Labels: infrastructure

#3469 fix(k8s): use Recreate strategy to deploy updates
  kubernetes/apps/charts/metabase/templates/metabase.yaml
Labels: kubernetes

#3467 Bring new NTD endpoint sources into the warehouse as staging
  warehouse/models/staging/ntd_annual_data_tables/2022/_src.yml
  warehouse/models/staging/ntd_annual_data_tables/2022/_stg_ntd_annual_data_tables.yml
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__breakdowns.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__breakdowns_by_agency.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__capital_expenses_by_capital_use.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__capital_expenses_by_mode.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__capital_expenses_for_existing_service.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__capital_expenses_for_expansion_of_service.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__employees_by_agency.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__employees_by_mode.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__employees_by_mode_and_employee_type.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__fuel_and_energy.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__fuel_and_energy_by_agency.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__funding_sources_by_expense_type.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__funding_sources_directly_generated.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__funding_sources_federal.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__funding_sources_local.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__funding_sources_state.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__funding_sources_taxes_levied_by_agency.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__maintenance_facilities.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__maintenance_facilities_by_agency.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__metrics.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__operating_expenses_by_function.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__operating_expenses_by_function_and_agency.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__operating_expenses_by_type.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__operating_expenses_by_type_and_agency.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__service_by_agency.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__service_by_mode.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__service_by_mode_and_time_period.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__stations_and_facilities_by_agency_and_facility_type.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__stations_by_mode_and_age.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__track_and_roadway_by_agency.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__track_and_roadway_by_mode.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__track_and_roadway_guideway_age_distribution.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__vehicles_age_distribution.sql
  warehouse/models/staging/ntd_annual_data_tables/2022/stg_ntd_annual_data__2022__vehicles_type_count_by_agency.sql
  warehouse/models/staging/ntd_ridership/_src.yml
  warehouse/models/staging/ntd_ridership/_stg_ntd_historical_ridership_tables.yml
  warehouse/models/staging/ntd_ridership/stg_ntd_ridership_historical__complete_monthly_ridership_with_adjustments_and_estimates__calendar_year_upt.sql
  warehouse/models/staging/ntd_ridership/stg_ntd_ridership_historical__complete_monthly_ridership_with_adjustments_and_estimates__calendar_year_vrm.sql
  warehouse/models/staging/ntd_ridership/stg_ntd_ridership_historical__complete_monthly_ridership_with_adjustments_and_estimates__master.sql
  warehouse/models/staging/ntd_ridership/stg_ntd_ridership_historical__complete_monthly_ridership_with_adjustments_and_estimates__upt.sql
  warehouse/models/staging/ntd_ridership/stg_ntd_ridership_historical__complete_monthly_ridership_with_adjustments_and_estimates__upt_estimates.sql
  warehouse/models/staging/ntd_ridership/stg_ntd_ridership_historical__complete_monthly_ridership_with_adjustments_and_estimates__voms.sql
  warehouse/models/staging/ntd_ridership/stg_ntd_ridership_historical__complete_monthly_ridership_with_adjustments_and_estimates__vrh.sql
  warehouse/models/staging/ntd_ridership/stg_ntd_ridership_historical__complete_monthly_ridership_with_adjustments_and_estimates__vrm.sql
  warehouse/models/staging/ntd_ridership/stg_ntd_ridership_historical__complete_monthly_ridership_with_adjustments_and_estimates__vrm_estimates.sql
Labels: data-pipeline-ingestion-and-modeling
