Repository cal-itp/data-infra, pull requests merged in 2025-04, with the labels that each got.

#3802 payments: revise recommended dashboards for duplication in runbook
  runbooks/workflow/payments/add_agency_dashboard_data_source.md
Labels: project-payments

#3810 modify organization tables for enrichment
  warehouse/models/intermediate/transit_database/dimensions/int_transit_database__organizations_dim.sql
  warehouse/models/mart/transit_database/dim_organizations.sql
  warehouse/models/mart/transit_database_latest/dim_organizations_latest_with_caltrans_district.sql
  warehouse/models/staging/transit_database/stg_transit_database__organizations.sql
Labels: data-pipeline-ingestion-and-modeling

#3849 NTD: fix agency field in employees_by_agency tables
  airflow/dags/create_external_tables/ntd_data_products/multi_year__employees_by_agency.yml
  warehouse/models/mart/ntd_annual_reporting/fct_employees_by_agency.sql
  warehouse/models/staging/ntd_annual_reporting/stg_ntd__employees_by_agency.sql
Labels: data-pipeline-ingestion-and-modeling

#3853 ntd: add sync configs for new ntd data sources (asset_inventory_time_series, 2022_annual_database_contractual_relationship)
  airflow/dags/sync_ntd_data_xlsx/assets/asset_inventory_time_series.yml
  airflow/dags/sync_ntd_data_xlsx/contractual_relationship/2022_annual_database_contractual_relationship.yml
  airflow/dags/sync_ntd_data_xlsx/scrape_ntd_xlsx_urls.py
  airflow/plugins/operators/scrape_ntd_xlsx.py
Labels: data-pipeline-ingestion-and-modeling

#3857 NTD: create external tables for new endpoints – asset_inventory_time_series and 2022 contractual relationships
  airflow/dags/create_external_tables/ntd_data_products/2022__annual_database_contractual_relationships.yml
  airflow/dags/create_external_tables/ntd_data_products/historical__asset_inventory_time_series__active_fleet.yml
  airflow/dags/create_external_tables/ntd_data_products/historical__asset_inventory_time_series__ada_fleet.yml
  airflow/dags/create_external_tables/ntd_data_products/historical__asset_inventory_time_series__avg_fleet_age.yml
  airflow/dags/create_external_tables/ntd_data_products/historical__asset_inventory_time_series__avg_seating_capacity.yml
  airflow/dags/create_external_tables/ntd_data_products/historical__asset_inventory_time_series__avg_standing_capacity.yml
Labels: data-pipeline-ingestion-and-modeling

#3854 payments: sync, parse tasks for new sacrt littlepay feed v3; modify Dockerfile, Dockerfile.composer
  airflow/Dockerfile
  airflow/Dockerfile.composer
  airflow/dags/parse_littlepay_v3/sacrt.yml
  airflow/dags/sync_littlepay_v3/sacrt.yml
Labels: data-pipeline-ingestion-and-modeling

#3866 payments: add seed mapping for new sacrt payments feed v3
  warehouse/seeds/payments_entity_mapping.csv
Labels: project-payments

#3867 NTD: create new warehouse tables for new endpoints – asset_inventory_time_series and 2022 contractual relationships
  .github/workflows/deploy-dbt.yml
  warehouse/models/mart/ntd_annual_reporting/_mart_ntd_annual_reporting.yml
  warehouse/models/mart/ntd_annual_reporting/fct_2022_contractual_relationships.sql
  warehouse/models/mart/ntd_assets/_mart_assets.yml
  warehouse/models/mart/ntd_assets/fct_asset_inventory_time_series_active_fleet.sql
  warehouse/models/mart/ntd_assets/fct_asset_inventory_time_series_ada_fleet.sql
  warehouse/models/mart/ntd_assets/fct_asset_inventory_time_series_avg_fleet_age.sql
  warehouse/models/mart/ntd_assets/fct_asset_inventory_time_series_avg_seating_capacity.sql
  warehouse/models/mart/ntd_assets/fct_asset_inventory_time_series_avg_standing_capacity.sql
  warehouse/models/staging/ntd_annual_reporting/_src.yml
  warehouse/models/staging/ntd_annual_reporting/_stg_ntd_annual_reporting.yml
  warehouse/models/staging/ntd_annual_reporting/stg_ntd__2022_contractual_relationships.sql
  warehouse/models/staging/ntd_assets/_src.yml
  warehouse/models/staging/ntd_assets/_stg_ntd_assets.yml
  warehouse/models/staging/ntd_assets/stg_ntd__asset_inventory_time_series__active_fleet.sql
  warehouse/models/staging/ntd_assets/stg_ntd__asset_inventory_time_series__ada_fleet.sql
  warehouse/models/staging/ntd_assets/stg_ntd__asset_inventory_time_series__avg_fleet_age.sql
  warehouse/models/staging/ntd_assets/stg_ntd__asset_inventory_time_series__avg_seating_capacity.sql
  warehouse/models/staging/ntd_assets/stg_ntd__asset_inventory_time_series__avg_standing_capacity.sql
Labels: data-pipeline-ingestion-and-modeling

#3868 payments: correctly map nevada county organization name to payments data in seed
  warehouse/seeds/payments_entity_mapping.csv
Labels: data-pipeline-ingestion-and-modeling

#3869 payments: revise elavon row access policy for nevada county after correcting organization seed mapping
  warehouse/macros/create_row_access_policy.sql
Labels: data-pipeline-ingestion-and-modeling

#3871 Requests to gtfs.dds.dot.ca.gov are routed to the GTFS bucket
  iac/cal-itp-data-infra/cdn/us/.terraform.lock.hcl
  iac/cal-itp-data-infra/cdn/us/backend_bucket.tf
  iac/cal-itp-data-infra/cdn/us/provider.tf
Labels: infrastructure
