Repository cal-itp/data-infra, pull requests merged in 2025-08, with the labels that each got.

#4191 Fix: Benefits extra_claims is a JSON array
  warehouse/models/mart/benefits/fct_benefits_events.sql
Labels: project-benefits

#4210 Fix: Coalesce blank and null Benefits extra_claims
  warehouse/models/mart/benefits/fct_benefits_events.sql
Labels: project-benefits

#4235 Payments: adjust dbt_payments_dag to also run on weekends
  airflow/dags/dbt_payments_dag.py
Labels: project-payments

#4223 NTD: utilize ridership API endpoint over XLSX scrape, add XLSX scrape timeout
  airflow/dags/sync_ntd_data_api/ridership/complete_monthly_ridership_with_adjustments_and_estimates.yml
  airflow/dags/sync_ntd_data_xlsx/scrape_ntd_xlsx_urls.py
Labels: product: ntd-ingestion
