Repository cal-itp/data-infra, changes with the owners that CODEOWNERS names for each.
All owners: @evansiroky, @lottspot, @themightychris, @chriscauley, @charlie-costanzo, @holly-g, @mjumbewu, @Nkdiaz, @lauriemerrell

CODEOWNERS:

# repo owners
*                                       @evansiroky

# devops components
/kubernetes                             @lottspot @themightychris
/ci                                     @lottspot
/services                               @lottspot @chriscauley

# jupyter service, e.g. updating the image
/kubernetes/apps/charts/jupyterhub      @lottspot @charlie-costanzo

# project documentation
/docs                                   @charlie-costanzo @holly-g

# payments data
/airflow/dags/payments*/*               @mjumbewu @evansiroky

# gtfs data
/airflow/data/agencies.yml              @Nkdiaz @evansiroky

# gtfs rt
/airflow/dags/gtfs*/*                   @lauriemerrell @Nkdiaz
/airflow/dags/rt*/*                     @lauriemerrell @evansiroky

# devops GitHub workflows
/.github/workflows/service-build.yml    @lottspot
/.github/workflows/service-release.yml  @lottspot

# publish GitHub workflows
/.github/workflows/publish-docs.yml     @Nkdiaz
/.github/workflows/push_to_gcloud.yml   @lottspot

# qa GitHub workflows
/.github/workflows/lint.yml              @themightychris

# misc GitHub workflows
/.github/workflows/board-move-issues.yml          @charlie-costanzo @holly-g
/.github/workflows/update_gcloud_requirements.yml @evansiroky

Notes added by 'git notes add'
  37b62fc8dcf4d77c4c2ccbe12c4a69c6b497466b
Owners: @evansiroky

docs(airtable) added missing forwardslash and link
  docs/airflow/overview.md
Owners: @charlie-costanzo, @holly-g

deploy: eba6cae2cb2452aedc0a345c4d48801286a2b28d
  _sources/airflow/static-schedule-pipeline.ipynb
  _sources/analytics_examples/new_tutorial.ipynb
  _sources/analytics_examples/warehouse_tutorial.ipynb
  _sources/analytics_tools/bi_dashboards.ipynb
  _sources/analytics_tools/data_catalogs.ipynb
  _sources/analytics_tools/python_libraries.ipynb
  _sources/analytics_tools/saving_code.md
  _sources/analytics_tools/storing_data.ipynb
  _sources/datasets_and_tables/overview.ipynb
  _sources/kubernetes/README.ipynb
  _sources/warehouse/agencies.ipynb
  _sources/warehouse/metrics.ipynb
  _sources/warehouse/sql_snippets.ipynb
  _sources/warehouse/table_naming.ipynb
  _static/__pycache__/__init__.cpython-38.pyc
  analytics_examples/new_tutorial.html
  analytics_examples/warehouse_tutorial.html
  analytics_tools/python_libraries.html
  analytics_tools/saving_code.html
  searchindex.js
Owners: @evansiroky

re-attempt now that the cluster is more stable
  docs/analytics_examples/new_tutorial.md
  docs/analytics_examples/warehouse_tutorial.md
Owners: @charlie-costanzo, @holly-g

services/gtfs-rt-archive: refactor main loop to use ThreadPool
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
Owners: @lottspot, @chriscauley

src/gtfs_rt_archive: add transaction object for request tracing
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
Owners: @lottspot, @chriscauley

src/gtfs_rt_archive: refactor YamlMapper related variable names
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/mapperfns.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threadpool.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/yamlmapper.py
Owners: @lottspot, @chriscauley

fixup! src/gtfs_rt_archive: add transaction object for request tracing
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/writer.py
Owners: @lottspot, @chriscauley

fixup! services/gtfs-rt-archive: fix event emission in datacontainer
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/datacontainer.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threads/datacontainer: refactor to catch open calls
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/datacontainer.py
Owners: @lottspot, @chriscauley

fixup! src/gtfs_rt_archive: add transaction object for request tracing
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: add headers parser for DataContainer
  services/gtfs-rt-archive/src/gtfs_rt_archive/parsers.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: use static logger name
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/__main__.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threads/__init__.py: log write attempts in BaseWriter
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
Owners: @lottspot, @chriscauley

docs/services/gtfs-rt-archive: document docker-compose testing
  docs/services/gtfs-rt-archive.md
Owners: @charlie-costanzo, @holly-g

services/gtfs-rt-archive: preload threads in threadpool
  services/gtfs-rt-archive/src/gtfs_rt_archive/threadpool.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: add DataContainer thread
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/datacontainer.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/parsers.py: refactor headers loaded to DEBUG severity
  services/gtfs-rt-archive/src/gtfs_rt_archive/parsers.py
Owners: @lottspot, @chriscauley

fixup! gtfs_rt_archive/threads/__init__.py: log write attempts in BaseWriter
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
Owners: @lottspot, @chriscauley

src/gtfs_rt_archive: rename DataContainer to YamlMapper
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threadpool.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/yamlmapper.py
Owners: @lottspot, @chriscauley

src/gtfs_rt_archive: refactor to log all data problmems as ERROR sev
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/parsers.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/datacontainer.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/eventbus.py: refactor dropped events to CRITICAL sev
  services/gtfs-rt-archive/src/gtfs_rt_archive/eventbus.py
Owners: @lottspot, @chriscauley

fixup! gtfs_rt_archive/threads/writer: refactor GCPBucketWriter for async write
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/writer.py
Owners: @lottspot, @chriscauley

fixup! src/gtfs_rt_archive: add transaction object for request tracing
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/writer.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: add PoolFetcher
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
Owners: @lottspot, @chriscauley

fixup! src/gtfs_rt_archive: add transaction object for request tracing
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threads/fetcher.py: refactor download errors to WARN
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
Owners: @lottspot, @chriscauley

fixup! src/gtfs_rt_archive: add transaction object for request tracing
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/writer.py
Owners: @lottspot, @chriscauley

rchive/threads/fetcher.py: Note the future need for a txn id
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
Owners: @lottspot, @chriscauley

gtfs-rt-archive.py: remove old script in favor of package
  services/gtfs-rt-archive/gtfs-rt-archive.py
Owners: @lottspot, @chriscauley

fixup! src/gtfs_rt_archive: add transaction object for request tracing
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
Owners: @lottspot, @chriscauley

fixup! src/gtfs_rt_archive: add transaction object for request tracing
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: log all emit() calls with NOTICE severity
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/datacontainer.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/ticker.py
Owners: @lottspot, @chriscauley

src/gtfs_rt_archive: rename parsers to mapperfns
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/mapperfns.py
Owners: @lottspot, @chriscauley

fixup! gtfs_rt_archive/threads/fetcher.py: refactor download errors to WARN
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
Owners: @lottspot, @chriscauley

fixup! services/gtfs-rt-archive: log all emit() calls with NOTICE severity
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/datacontainer.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/ticker.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: add agencies parser for DataContainer
  services/gtfs-rt-archive/src/gtfs_rt_archive/parsers.py
Owners: @lottspot, @chriscauley

fixup! src/gtfs_rt_archive: add transaction object for request tracing
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: refactor into python package
  services/gtfs-rt-archive/Dockerfile
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/__main__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/eventbus.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/ticker.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/writer.py
  services/gtfs-rt-archive/src/setup.py
Owners: @lottspot, @chriscauley

fixup! src/gtfs_rt_archive: rename DataContainer to YamlMapper
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/mappers.py
Owners: @lottspot, @chriscauley
