Repository cal-itp/data-infra, changes with the owners that CODEOWNERS names for each.
All owners: @evansiroky, @lottspot, @themightychris, @chriscauley, @charlie-costanzo, @holly-g, @mjumbewu, @Nkdiaz, @lauriemerrell

CODEOWNERS:

# repo owners
*                                       @evansiroky

# devops components
/kubernetes                             @lottspot @themightychris
/ci                                     @lottspot
/services                               @lottspot @chriscauley

# jupyter service, e.g. updating the image
/kubernetes/apps/charts/jupyterhub      @lottspot @charlie-costanzo

# project documentation
/docs                                   @charlie-costanzo @holly-g

# payments data
/airflow/dags/payments*/*               @mjumbewu @evansiroky

# gtfs data
/airflow/data/agencies.yml              @Nkdiaz @evansiroky

# gtfs rt
/airflow/dags/gtfs*/*                   @lauriemerrell @Nkdiaz
/airflow/dags/rt*/*                     @lauriemerrell @evansiroky

# devops GitHub workflows
/.github/workflows/service-build.yml    @lottspot
/.github/workflows/service-release.yml  @lottspot

# publish GitHub workflows
/.github/workflows/publish-docs.yml     @Nkdiaz
/.github/workflows/push_to_gcloud.yml   @lottspot

# qa GitHub workflows
/.github/workflows/lint.yml              @themightychris

# misc GitHub workflows
/.github/workflows/board-move-issues.yml          @charlie-costanzo @holly-g
/.github/workflows/update_gcloud_requirements.yml @evansiroky

gtfs_rt_archive/threads/writer: refactor GCPBucketWriter for async write
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/writer.py
Owners: @lottspot, @chriscauley

fixup! services/gtfs-rt-archive: preload threads in threadpool
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threads/writer.py: refactor for CRITICAL write errors
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/writer.py
Owners: @lottspot, @chriscauley

fixup! src/gtfs_rt_archive: add transaction object for request tracing
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
Owners: @lottspot, @chriscauley

gtfs-rt-archive/docker-compose.yml: refactor to bind-mount directory
  services/gtfs-rt-archive/docker-compose.yml
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: add ThreadPool
  services/gtfs-rt-archive/src/gtfs_rt_archive/threadpool.py
Owners: @lottspot, @chriscauley

fixup! services/gtfs-rt-archive: add agencies parser for DataContainer
  services/gtfs-rt-archive/src/gtfs_rt_archive/parsers.py
Owners: @lottspot, @chriscauley

fixup! gtfs_rt_archive/threads/datacontainer: refactor to catch open calls
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/datacontainer.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: fix event emission in datacontainer
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/datacontainer.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: refactor to preload data in main loop
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
Owners: @lottspot, @chriscauley

gtfs-rt-archive/docker-compose.yml: create script testing environment
  services/gtfs-rt-archive/.gitignore
  services/gtfs-rt-archive/docker-compose.yml
Owners: @lottspot, @chriscauley

Notes added by 'git notes add'
  a262144f153b30e9e1e98e1a1b87169d943b50b1
Owners: @evansiroky

release gtfs-rt-archive/2.0-preprod.1
  kubernetes/apps/overlays/gtfs-rt-archive-release/kustomization.yaml
Owners: @lottspot, @themightychris

Notes added by 'git notes add'
  f32308bd90b0ea0952a54a04764bbaef43f6aacb
Owners: @evansiroky

fixup! gtfs_rt_archive/threads/writer: refactor GCPBucketWriter for async write
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/writer.py
Owners: @lottspot, @chriscauley

Notes added by 'git notes add'
  84c1a431186e450556afc4cd77cc92ef4fdb3543
Owners: @evansiroky

Notes added by 'git notes add'
  4c37362638370850b53b86837f39adda4f32e65e
Owners: @evansiroky

services/gtfs-rt-archive: add agencies parser for DataContainer
  services/gtfs-rt-archive/src/gtfs_rt_archive/parsers.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: add ThreadPool
  services/gtfs-rt-archive/src/gtfs_rt_archive/threadpool.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: add headers parser for DataContainer
  services/gtfs-rt-archive/src/gtfs_rt_archive/parsers.py
Owners: @lottspot, @chriscauley

src/gtfs_rt_archive: refactor to log all data problmems as ERROR sev
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/parsers.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/datacontainer.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threads/fetcher.py: refactor download errors to WARN
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: preload threads in threadpool
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threadpool.py
Owners: @lottspot, @chriscauley

gtfs-rt-archive.py: remove old script in favor of package
  services/gtfs-rt-archive/gtfs-rt-archive.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: refactor main loop to use ThreadPool
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/eventbus.py: refactor dropped events to CRITICAL sev
  services/gtfs-rt-archive/src/gtfs_rt_archive/eventbus.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threads/__init__.py: log write attempts in BaseWriter
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: log all emit() calls with INFO severity
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/datacontainer.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/ticker.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: refactor to preload data in main loop
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: fix event emission in datacontainer
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/datacontainer.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: use static logger name
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/__main__.py
Owners: @lottspot, @chriscauley

services/gtfs-rt-archive: add PoolFetcher
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threads/writer.py: refactor for CRITICAL write errors
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/writer.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threads/fetcher.py: Note the future need for a txn id
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threads/writer: refactor GCPBucketWriter for async write
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/writer.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/parsers.py: refactor headers loaded to DEBUG severity
  services/gtfs-rt-archive/src/gtfs_rt_archive/parsers.py
Owners: @lottspot, @chriscauley

src/gtfs_rt_archive: rename parsers to mapperfns
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/mapperfns.py
Owners: @lottspot, @chriscauley

src/gtfs_rt_archive: add transaction object for request tracing
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/writer.py
Owners: @lottspot, @chriscauley

src/gtfs_rt_archive: refactor YamlMapper related variable names
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/mapperfns.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threadpool.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/mappers.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threads/datacontainer: refactor to catch open calls
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/datacontainer.py
Owners: @lottspot, @chriscauley
