Repository cal-itp/data-infra, changes with the owners that CODEOWNERS names for each.
All owners: @evansiroky, @lottspot, @themightychris, @chriscauley, @charlie-costanzo, @holly-g, @mjumbewu, @Nkdiaz, @lauriemerrell

CODEOWNERS:

# repo owners
*                                       @evansiroky

# devops components
/kubernetes                             @lottspot @themightychris
/ci                                     @lottspot
/services                               @lottspot @chriscauley

# jupyter service, e.g. updating the image
/kubernetes/apps/charts/jupyterhub      @lottspot @charlie-costanzo

# project documentation
/docs                                   @charlie-costanzo @holly-g

# payments data
/airflow/dags/payments*/*               @mjumbewu @evansiroky

# gtfs data
/airflow/data/agencies.yml              @Nkdiaz @evansiroky

# gtfs rt
/airflow/dags/gtfs*/*                   @lauriemerrell @Nkdiaz
/airflow/dags/rt*/*                     @lauriemerrell @evansiroky

# devops GitHub workflows
/.github/workflows/service-build.yml    @lottspot
/.github/workflows/service-release.yml  @lottspot

# publish GitHub workflows
/.github/workflows/publish-docs.yml     @Nkdiaz
/.github/workflows/push_to_gcloud.yml   @lottspot

# qa GitHub workflows
/.github/workflows/lint.yml              @themightychris

# misc GitHub workflows
/.github/workflows/board-move-issues.yml          @charlie-costanzo @holly-g
/.github/workflows/update_gcloud_requirements.yml @evansiroky

gtfs-rt-archive/docker-compose.yml: refactor to bind-mount directory
  services/gtfs-rt-archive/docker-compose.yml
Owners: @lottspot, @chriscauley

src/gtfs_rt_archive: rename DataContainer to YamlMapper
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threadpool.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/mappers.py
Owners: @lottspot, @chriscauley

gtfs-rt-archive/src: refactor to satisfy linter
  .pre-commit-config.yaml
  services/gtfs-rt-archive/src/gtfs_rt_archive/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/eventbus.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/mapperfns.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threadpool.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/mappers.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/ticker.py
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/writer.py
  services/gtfs-rt-archive/src/setup.py
Owners: @evansiroky, @lottspot, @chriscauley

gtfs_rt_archive/mapperfns: document source code
  services/gtfs-rt-archive/src/gtfs_rt_archive/mapperfns.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threads/mappers: document source code
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/mappers.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threads/fetcher: document source code
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threadpool: document source code
  services/gtfs-rt-archive/src/gtfs_rt_archive/threadpool.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threads/fetcher: remove obsolete Fetcher class
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/fetcher.py
Owners: @lottspot, @chriscauley

gtfs_rt_archive/threads/ticker: document source code
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/ticker.py
Owners: @lottspot, @chriscauley

push_to_gcloud.yml: remove gtfs-rt-archiver service restarts
  .github/workflows/push_to_gcloud.yml
Owners: @lottspot

gtfs_rt_archive/threads/__init__: document source code
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/__init__.py
Owners: @lottspot, @chriscauley

docs/services/gtfs-rt-archive: update doc to reflect docker mount fix
  docs/services/gtfs-rt-archive.md
Owners: @charlie-costanzo, @holly-g

gtfs_rt_archive/threads/writer: document source code
  services/gtfs-rt-archive/src/gtfs_rt_archive/threads/writer.py
Owners: @lottspot, @chriscauley

Notes added by 'git notes add'
  c606d34e9b2938b746bc4325a68c06ea55e1f7f4
Owners: @evansiroky

overlays/gtfs-rt-archive-release: release gtfs-rt-archive 2.0
  kubernetes/apps/overlays/gtfs-rt-archive-release/kustomization.yaml
Owners: @lottspot, @themightychris

Notes added by 'git notes add'
  a0a81f454796273cc4350c9d4bb40ee34019c539
Owners: @evansiroky

bug(extracted/deleted): added coalesce and greatest/least to the final table to account for null values
  airflow/dags/gtfs_views/gtfs_schedule_stg_daily_service.sql
Owners: @lauriemerrell, @Nkdiaz

(Docs): moving airflow dag maintenance documentation to the airflow section and linking out from the previous sections in the datasets and tables chapters
  docs/_toc.yml
  docs/datasets_and_tables/gtfs_rt.md
  docs/datasets_and_tables/gtfs_schedule.md
  docs/datasets_and_tables/mst_payments.md
  docs/datasets_and_tables/transitdatabase.md
  docs/datasets_and_tables/views.md
Owners: @charlie-costanzo, @holly-g

bug(extracted/deleted): removed extra greatest
  airflow/dags/gtfs_views/gtfs_schedule_stg_daily_service.sql
Owners: @lauriemerrell, @Nkdiaz

refactor(airtable): remove views; will delay for a subsequent PR
  airflow/dags/airtable_views/METADATA.yml
  airflow/dags/airtable_views/california_transit_county_geography.sql
  airflow/dags/airtable_views/california_transit_eligibility_programs.sql
  airflow/dags/airtable_views/california_transit_fare_systems.sql
  airflow/dags/airtable_views/california_transit_funding_programs.sql
  airflow/dags/airtable_views/california_transit_gtfs_datasets.sql
  airflow/dags/airtable_views/california_transit_gtfs_service_data.sql
  airflow/dags/airtable_views/california_transit_ntd_agency_info.sql
  airflow/dags/airtable_views/california_transit_organizations.sql
  airflow/dags/airtable_views/california_transit_place_geography.sql
  airflow/dags/airtable_views/california_transit_rider_requirements.sql
  airflow/dags/airtable_views/california_transit_service_component.sql
  airflow/dags/airtable_views/california_transit_services.sql
Owners: @evansiroky

chore(docs): moving airflow dag maintenance documentation to the airflow section and linking out from the previous sections in the datasets and tables chapters
  docs/_toc.yml
  docs/datasets_and_tables/gtfs_rt.md
  docs/datasets_and_tables/gtfs_schedule.md
  docs/datasets_and_tables/mst_payments.md
  docs/datasets_and_tables/transitdatabase.md
  docs/datasets_and_tables/views.md
Owners: @charlie-costanzo, @holly-g

chore(docs): including new file previously left out
  docs/airflow/dags-maintenance.md
Owners: @charlie-costanzo, @holly-g

chore(docs): fixed typos and added formatting consistency across edited pages
  docs/airflow/dags-maintenance.md
  docs/datasets_and_tables/transitdatabase.md
  docs/datasets_and_tables/views.md
Owners: @charlie-costanzo, @holly-g

docs/services/gtfs-rt-archive: add archiver flow chart
  docs/services/gtfs-rt-archive.mmd
Owners: @charlie-costanzo, @holly-g

chore: create one PR template for whole project
  .github/PULL_REQUEST_TEMPLATE/update_gtfsdata_pr.md
  .github/pull_request_template.md
Owners: @evansiroky

chore(airflow): restore google cloud connection ID
  airflow/docker-compose.yaml
Owners: @evansiroky
