Repository cal-itp/data-infra, changes with the owners that CODEOWNERS names for each.
All owners: @evansiroky, @machow, @lottspot, @themightychris, @charlie-costanzo, @holly-g, @mjumbewu, @Nkdiaz

CODEOWNERS:

# repo owners
*                                       @evansiroky @machow

# devops components
/kubernetes                             @lottspot @themightychris
/ci                                     @lottspot
/services                               @lottspot

# jupyter service, e.g. updating the image
/kubernetes/apps/charts/jupyterhub      @lottspot @charlie-costanzo

# project documentation
/docs                                   @charlie-costanzo @holly-g

# payments data
/airflow/dags/payments*/*               @mjumbewu @evansiroky

# gtfs data
/airflow/data/agencies.yml              @Nkdiaz @machow @evansiroky

# devops GitHub workflows
/.github/workflows/service-build.yml    @lottspot
/.github/workflows/service-release.yml  @lottspot

# publish GitHub workflows
/.github/workflows/publish-docs.yml     @Nkdiaz @machow
/.github/workflows/push_to_gcloud.yml   @machow @lottspot

# qa GitHub workflows
/.github/workflows/lint.yml             @machow @themightychris

# misc GitHub workflows
/.github/workflows/board-move-issues.yml          @machow
/.github/workflows/update_gcloud_requirements.yml @evansiroky

Notes added by 'git notes add'
  be201ad0107df8a37937a33a31a4ccf2db58d5fb
Owners: @evansiroky, @machow

attempt to get new tutorial code to run in old tutorial - reverted back to original code from old file
  docs/analytics_examples/warehouse_tutorial.md
Owners: @charlie-costanzo, @holly-g

attempt to get new tutorial code to run in old tutorial - reverted back to original code from old file - trial 2
  docs/analytics_examples/warehouse_tutorial.md
Owners: @charlie-costanzo, @holly-g

new test branch to chase down build errors in new tutorial content
  docs/_toc.yml
  docs/analytics_examples/tutorial_test.md
Owners: @charlie-costanzo, @holly-g

last test in new document worked, trying the same code out in the old document
  docs/analytics_examples/warehouse_tutorial.md
Owners: @charlie-costanzo, @holly-g

seeing how the last build worked but this one didn't
  docs/analytics_examples/tutorial_test.md
Owners: @charlie-costanzo, @holly-g

testing if the issue is related to sphinx version
  .github/workflows/publish-docs.yml
Owners: @Nkdiaz, @machow

moving get_headers_yml and get_agencies_yml into separate functions
  services/gtfs-rt-archive/gtfs-rt-archive.py
Owners: @lottspot

WIP first pass at runner
  services/gtfs-rt-archive/gtfs-rt-archive.py
Owners: @lottspot

reverting to currently running version of sphinx package
  .github/workflows/publish-docs.yml
Owners: @Nkdiaz, @machow
